[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-passviewer
Exec=harbour-passviewer
Categories=Utility;
Name=Pass Viewer
MimeType=application/vnd.apple.pkpass;
X-Nemo-Single-Instance=no
# Name[de]=Pass Viewer

